header {
    border-bottom: 1px #cccccc solid;
    height:60px;
    background-color: #ffffff;
    overflow: hidden;
}
body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
    background-image: url('../images/background.jpg');
    background-repeat: repeat;

}
.name {
    background-color: #4aaaa5;
    color: white;
    width: 12%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    position: relative;
    left: 150px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.links {
    width:20%;
    float: right;
    position: relative;
    right: 150px;
    text-align: center;
    height: 60px;
    padding:20px;
}
.link:link {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
    text-decoration: none;
}
.link:visited {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
    text-decoration: none;    
}
.link:hover {
    color: black;
}
.mainText {
    position:relative;
    padding: 20px;
    overflow: hidden;
    border: #dddddd solid 1px;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: #ffffff;
}
.mainTextHeader {
    
    border-bottom: 2px solid #dddddd;
    padding: 20px 0px 20px 0px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}
.bioPic {
    height: 235px;
    width: 170px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.bio {
    padding: 15px;
    line-height: 1.5;
}
.portfolioLink {
    height: 150px;
    width: 150px;
    margin: 40px;
    float:left;
}
.portfolioLink:hover {
    height:175px;
    width:175px;
}
.contactForm {
   padding: 20px;
   line-height: 1.0; 
}
.nameInput {
    width: 100%;
    padding: 4px;
    margin-top: 4px;
}
.emailInput {
    width: 100%;
    padding: 4px;
    margin-top: 4px;
}
.messageInput {
    width: 100%;
    height: 100px;
    padding: 4px;
    margin-top: 4px;
}
strong {
    font-weight: bold;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #666666;
    width: 100%;
    padding-top: 30px;
    color: gainsboro;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

